#
# Copyright (C) 2023 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a fetchmail instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=fetchmail server
#
# Start the session of rootless modules after Redis
#

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/fetchmail.pid %t/fetchmail.ctr-id
ExecStartPre=mkdir -vp %S/state/fetchmail
ExecStartPre=mkdir -vp %S/state/cron
ExecStartPre=mkdir -vp %S/state/log
ExecStartPre=touch %S/state/log/fetchmail.log
#ExecStartPre=runagent reveal-master-secret
#ExecStartPre=runagent expand-cron
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/fetchmail.pid \
    --cidfile=%t/fetchmail.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --network=slirp4netns \
    --env MAIL_HOST=${MAIL_HOST} \
    --volume ./fetchmail:/etc/fetchmail:z \
    --volume ./cron:/etc/cron.d:z \
    --volume ./log:/var/log:z \
    ${FETCHMAIL_BINARY_IMAGE} /usr/sbin/crond -f -m off
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/fetchmail.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/fetchmail.ctr-id
PIDFile=%t/fetchmail.pid
Type=forking

[Install]
WantedBy=default.target